<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE HTML>
<html  lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Public Feed</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
</html>
<div class="container" style="text-align:center">
  <h4>
    Welcome to {{title}}
  </h4>
  </div>
<body>
  <div class="container" style="width:100%;">
    <app-flickr-load></app-flickr-load>
</div>

</body>
