<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE HTML>
<html  lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Public Feed</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/flickr-angular-frontend/node_modules/bootstrap/dist/css/bootstrap.min.css">
  </head>
</html>
<div class="container" style="text-align:center">
  <h2>
    Welcome to {{ title }}!
  </h2>
  </div>
<body>
  <div class="container" style="width:100%;">
  
  <app-flickr-load></app-flickr-load>
</div>

</body>
<router-outlet></router-outlet>
