     <div class="form-group">
        <label for="usr">Search:</label>
        <input type="text" class="form-control serach-feed" id="usr" [(ngModel)]="searchText" placeholder="Search by title / tags">
        <br/>
        <button type="button" (click)="filter()" class="btn btn-success">Submit</button>
       </div>
      &nbsp; <h4>{{feeds.title}}</h4>         <h6>Total Entries: {{totalentries}}</h6> 
<div *ngIf="feeds" class="container">
    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe"  *ngFor="let feed of feeds.items">
        <img  [title]="feed.tags" src='{{feed.media.m}}' [alt]="feed.media.tags"  class="img-responsive">
        <!-- <h3>{{item.published}}</h3> -->
        <!-- [title]="{{feed.media.tags}}" [alt]="{{feed.media.tags}}" -->
    </div>
</div>
